<!DOCTYPE html>
<html ng-app="App">
	<head>
		<title>Dashboard</title>
		
		<script>
			var STATIONS = [
				{% for s in stations %}
					{% verbatim %}{ {% endverbatim %} 
						"name": "{{s.name}}",
						"station_id":"{{s.station_id}}"

					{% verbatim %}},{% endverbatim %}
				{% endfor %}
			];
		</script>
		
		<!-- load MUI -->
		<link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.9.13/css/mui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    	<script src="http://cdn.muicss.com/mui-0.9.13/angular/mui-angular.min.js"></script>
		<script>
			var app = angular.module('App', ['mui']);

			app.controller("DashboardCtrl", function($scope, $http){
				console.log("inside of the controller");
				$scope.STATIONS = STATIONS;
				$scope.currentStation, $scope.sensor_error = null;
				$scope.currentSensors = [];
				$scope.console = function(){
					console.log("clicked!!");
				}

				$scope.selected = function(sel){
					console.log(sel);
					$scope.currentSensors = [];
					$scope.sensor_error = null;
					$http.get("/api/stations/" + sel).then(function(res){
						console.log(res);
						if(res.status === 200){
							$scope.currentStation = res.data;
							$http.get("/api/stations/" + res.data.station_id + "/sensors").then(function(res){
								

								if(res.status === 200){
									$scope.currentSensors= [];
									$scope.currentSensors.push(res.data[0]);
									$scope.currentSensors.push(res.data[1]);
								}
								console.log($scope.currentSensors);
							}, function(jqError){

								$scope.sensor_error = "No recent sensor data!";
								
							});
						}

					});

				}
			});

		</script>
	{% verbatim %}	
	</head>
	<body ng-controller="DashboardCtrl">
		<mui-appbar>
			<mui-container>
				<table>
					<tr class="mui--appbar-height">
		            	<td class="mui--text-title"><strong>Dashboard</strong></td>
		          	</tr>
	      		</table>
  			</mui-container>
		</mui-appbar>
		<mui-container>
			<h1>Sensor Dashboard</h1>
			<mui-panel>
				<label>Station List</label>
				<select ng-model="sel" ng-change="selected(sel)">
					<option value="">-- Station List --</option>
				    <option ng-repeat="station in STATIONS" value="{{station.station_id}}">{{station.name}}</option>
				</select>
			</mui-panel>

			<mui-panel ng-show="currentStation != null">
				<p>Location: {{currentStation.name}}, {{currentStation.metadata.location.state}}</p>
				<p>Established: {{currentStation.metadata.date_established | date}}</p>


			</mui-panel>
			<mui-panel ng-show="sensor_error != null">
			No sensor data available for this location.
		</mui-panel>
			<mui-panel ng-show="currentSensors.length > 0">
				<h3>Latest Readings</h3>
				<div ng-repeat="sensor in currentSensors">
					<h4>{{sensor.name}} | {{sensor.fetch_date | date}}</h4>
					
					
					
					<div ng-repeat="p in sensor.products">
						<p>{{p.name}}:{{p.v}}</p>
					</div>
					<hr />
				</div>
			</mui-panel>
		</mui-container>
	</body>
</html>
{% endverbatim %}
